## This Jupyter Notebook generates the Kaggle Challenge Dataset from Original User Tag Matrix as well the Synthetic User Tag Matrix that was generated using CT-GAN model. 

### We include both the original, as well as the synthetic dataset in the train and test sets. The reason for this is specified in the report; in brief; we observed that performance on pure synthetic data was better than performance on pure original data, on the Alternate Least Squares Model. Thus, we took the combination of these two models as the average performance is almost the average of the individual performances on these two datasets by the ALS algorithm.

In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict

We load the original and synthetic datasets from the specified paths. (modify paths accordingly)

In [2]:
# Load the datasets
original_df = pd.read_csv("/home/girikk/Concept positioning system/Challenge Dataset/Final Dataset/UTM3.csv")
# synthetic_df = pd.read_csv("/home/girikk/Concept positioning system/Challenge Dataset/Final Dataset/synthetic_data_matrix-75krows.csv")

We filter both datasets to include only rows with at least 5 tags.

In [3]:
# Filter rows with at least 5 tags
original_df = original_df[original_df.drop(columns="OwnerUserId").sum(axis=1) >= 5]
# synthetic_df = synthetic_df[synthetic_df.drop(columns="OwnerUserId").sum(axis=1) >= 5]

The Tag Descriptions are loaded

In [4]:
tag_descriptions_df = pd.read_csv('/home/girikk/Concept positioning system/Challenge Dataset/Final Dataset/Tag Descriptions.csv')
tag_to_id = dict(zip(tag_descriptions_df['TagName'], tag_descriptions_df['TagID']))

We remove duplicate users from the synthetic dataset that are already in the original dataset. (hardly 1 or 2)

In [5]:
# Remove duplicates from synthetic_df that are already in original_df
# synthetic_df = synthetic_df[~synthetic_df['OwnerUserId'].isin(original_df['OwnerUserId'])]

The datasets are merged and shuffled.

In [6]:
# Merge the datasets
# merged_df = pd.concat([original_df, synthetic_df], ignore_index=True)

# Shuffle the merged dataframe
merged_df = original_df.sample(frac=1, random_state=42).reset_index(drop=True)

New unique user IDs are created to anonymize the data.

In [7]:
# Create new unique OwnerUserIds
unique_ids = merged_df['OwnerUserId'].unique()
new_unique_ids = np.arange(1, len(unique_ids) + 1)
np.random.shuffle(new_unique_ids)
id_mapping = dict(zip(unique_ids, new_unique_ids))

# Update the OwnerUserId in the merged dataframe
merged_df['NewOwnerUserId'] = merged_df['OwnerUserId'].map(id_mapping)

In [8]:
merged_df

,OwnerUserId,recursion,hashtable,hashmap,boolean-polynomials,digraphs,probing,stack-allocation,heap-size,cyclic-graph,...,simplex,hamiltonian-path,array-comparison,space-complexity,traveling-salesman,boolean-logic,heuristics,bitstring,tree,NewOwnerUserId
0,1828486,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,47918
1,1361822,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8354
2,127480,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,7067
3,2119053,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4527
4,278842,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,11977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51538,408773,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,42327
51539,7238916,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,47696
51540,4350586,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,31063
51541,7898,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1326
51542,716810,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,39885

In [9]:
filtered_df = merged_df[merged_df.NewOwnerUserId == 103820]
filtered_df.columns[(filtered_df == 1).any()].tolist()

[]

In [10]:
id_mapping

{1828486: 47918,
 1361822: 8354,
 127480: 7067,
 2119053: 4527,
 278842: 11977,
 13825434: 17719,
 677472: 27951,
 4142343: 44846,
 1267329: 50168,
 182689: 31355,
 3014199: 14108,
 6535399: 14698,
 5749570: 21651,
 1850983: 48283,
 1276128: 34687,
 6752997: 3110,
 978360: 14002,
 2150063: 28942,
 1895611: 48001,
 14585634: 22914,
 2908254: 33989,
 322912: 41839,
 948128: 973,
 1419166: 24766,
 1168654: 3942,
 1839453: 37932,
 116712: 9379,
 584183: 20512,
 1906688: 5303,
 585263: 10655,
 1034255: 13967,
 4080489: 36295,
 147511: 26416,
 2756719: 8932,
 247357: 37609,
 4700966: 18621,
 428442: 28028,
 5132337: 17513,
 555830: 29238,
 9706: 45038,
 9283016: 1973,
 1567452: 16663,
 8478737: 20862,
 250259: 20396,
 3171: 37052,
 3195526: 22942,
 6919895: 18250,
 3301760: 13513,
 8255744: 35666,
 5600318: 42939,
 13365: 38027,
 497982: 48211,
 1174750: 9127,
 2792896: 15543,
 12983643: 6813,
 2656421: 40840,
 31486: 23726,
 1244: 5379,
 11025476: 47472,
 296974: 35469,
 4265739: 4743,
 13676202: 27993,
 1222654: 49305,
 5808504: 2134,
 2908239: 22443,
 1283847: 6955,
 1385441: 14199,
 2304116: 10050,
 6219051: 18323,
 308219: 8870,
 5066625: 33999,
 12397093: 7101,
 3533191: 20908,
 14795206: 22343,
 512507: 34093,
 3965347: 33909,
 5458827: 38126,
 20703: 26441,
 1533306: 345,
 16281673: 6196,
 882403: 13019,
 2758343: 25552,
 274344: 42769,
 1015095: 17498,
 1507678: 12021,
 11686518: 29002,
 9445557: 8043,
 7946807: 29368,
 1796378: 49487,
 8286874: 18046,
 426609: 48023,
 874275: 25698,
 2727843: 4579,
 158288: 39068,
 6540319: 3776,
 4795263: 6417,
 2684771: 996,
 2397162: 35911,
 1908892: 33478,
 7996196: 31495,
 3724638: 4779,
 1609285: 21661,
 547231: 37951,
 739912: 5932,
 1168372: 15646,
 1814909: 40724,
 2359169: 5475,
 2647077: 14506,
 11917: 7734,
 3935900: 39716,
 6797779: 13939,
 2948399: 4355,
 184: 28201,
 2242445: 29133,
 4370109: 3710,
 815566: 51492,
 2065083: 17850,
 863: 4670,
 8745: 3375,
 126150: 42502,
 3941341: 25081,
 9765456: 8361,
 3670482: 17068,
 2203038: 37266,
 3648741: 36530,
 701996: 15189,
 7434857: 20557,
 312972: 5295,
 862344: 438,
 1455016: 17003,
 2438475: 12919,
 1022007: 14941,
 1822698: 21328,
 1217989: 865,
 3512592: 20981,
 7719900: 10325,
 7317464: 44235,
 2402272: 6949,
 932588: 3130,
 14144323: 41076,
 2013213: 27625,
 191367: 31392,
 2902660: 43034,
 80577: 32959,
 2755: 22393,
 5819: 13991,
 3088349: 51424,
 210303: 39075,
 4019025: 39835,
 11953266: 7282,
 357705: 7102,
 3175: 5960,
 1033075: 31029,
 2542516: 7634,
 1790644: 26123,
 1699979: 24800,
 318508: 1904,
 1270866: 17434,
 3481325: 20842,
 3897333: 35968,
 3747404: 25964,
 6174377: 7755,
 283358: 38659,
 1819437: 4105,
 687901: 19465,
 36174: 32681,
 2685938: 12127,
 16660741: 22124,
 1106382: 28867,
 3679900: 15021,
 122422: 22048,
 173327: 13644,
 891440: 46694,
 126342: 51398,
 5742304: 24610,
 4054386: 24391,
 1235565: 37332,
 23669: 23356,
 1500851: 21690,
 153982: 37095,
 1139393: 10676,
 11481694: 45848,
 7696162: 10659,
 4245446: 23912,
 610573: 17061,
 2169264: 34261,
 1429073: 23309,
 1343: 19398,
 477636: 11458,
 9837301: 7537,
 1467304: 33949,
 1223875: 29319,
 2122869: 31590,
 1784529: 415,
 8136: 49534,
 2335514: 33500,
 2257531: 13225,
 2342558: 7529,
 283302: 39832,
 427598: 3806,
 777733: 26909,
 6273701: 45116,
 960174: 16772,
 11926: 19709,
 134967: 36873,
 5193485: 44492,
 754550: 1898,
 1104728: 37969,
 7325599: 4270,
 529630: 13582,
 452414: 26272,
 1713757: 47561,
 10593: 44744,
 762913: 32527,
 674888: 31210,
 4282081: 9165,
 226648: 21301,
 2540309: 3761,
 7212665: 36956,
 939108: 27128,
 204845: 27628,
 1057485: 34092,
 52598: 35387,
 2980812: 2694,
 249630: 45899,
 1575570: 46085,
 9865869: 46606,
 5306507: 37372,
 1500110: 36259,
 4203: 36679,
 8729682: 49202,
 419391: 49179,
 21192065: 41035,
 1451110: 11003,
 16529576: 29598,
 663580: 49771,
 1232685: 38692,
 806802: 35327,
 1115406: 30636,
 70104: 43638,
 2664842: 31673,
 6828297: 20004,
 4409319: 27225,
 1794706: 38722,
 5176071: 12851,
 7025699: 12922,
 251920: 32050,
 4549554: 21546,
 557826: 42285,
 2659962: 11226,
 960757: 39136,
 1913537: 46737,
 99419: 5324,
 4177926: 29445,
 2138752: 14994,
 376113: 37964,
 961125: 27450,
 83132: 6700,
 1691311: 20352,
 642579: 50114,
 4785110: 7293,
 2139766: 12283,
 7470253: 47226,
 2324078: 49659,
 2083887: 28851,
 286936: 4313,
 7805917: 16810,
 2190336: 37529,
 1187671: 13378,
 1559219: 29792,
 673852: 28727,
 9920930: 17122,
 3342429: 49639,
 14309364: 51071,
 7051394: 3868,
 9884514: 12037,
 8033861: 38055,
 1431777: 21863,
 156767: 4358,
 672586: 51286,
 45066: 1808,
 5340833: 36781,
 61572: 48081,
 1934851: 40900,
 8736713: 12604,
 370593: 3238,
 4001177: 12569,
 8221470: 24210,
 205343: 17403,
 6295668: 39153,
 9628949: 40269,
 2463837: 2828,
 430087: 30135,
 18197: 50295,
 7045778: 17554,
 770476: 2741,
 113154: 27947,
 9833: 16913,
 2958759: 11887,
 7008044: 28371,
 574686: 16488,
 1108: 44804,
 1091116: 26200,
 600500: 44193,
 506013: 39839,
 726179: 23539,
 4391450: 12678,
 62735: 16400,
 360374: 30182,
 868014: 39409,
 2722613: 32341,
 3497338: 641,
 4266453: 36750,
 277176: 6650,
 3800782: 17126,
 12189257: 34268,
 3457685: 11560,
 1336386: 37745,
 652403: 10798,
 4425643: 37734,
 4950659: 31556,
 2104879: 31860,
 3990607: 3989,
 376873: 18564,
 549643: 34566,
 88111: 42258,
 4137985: 5164,
 1007522: 41777,
 74261: 36861,
 10720723: 13053,
 403915: 35992,
 7872887: 18072,
 10528125: 26032,
 5605165: 39621,
 2888586: 9431,
 3271687: 1117,
 8090: 42873,
 4510033: 19752,
 2772118: 3909,
 598472: 46195,
 1129194: 47547,
 520394: 33261,
 2208850: 23616,
 8442737: 47315,
 20886777: 15271,
 17917: 4893,
 573420: 38881,
 1379664: 2584,
 1230538: 42897,
 6751603: 19218,
 7811673: 144,
 1808539: 20027,
 5083370: 44544,
 5571136: 33986,
 1795924: 46824,
 1065023: 4340,
 9223839: 26267,
 7273274: 2911,
 84378: 32627,
 4074045: 32019,
 2682043: 50115,
 964813: 46903,
 7132550: 17276,
 2390175: 47448,
 38368: 20874,
 261122: 50308,
 8008776: 14195,
 1069494: 42824,
 3367974: 14037,
 3203588: 19179,
 210713: 43447,
 13033901: 47760,
 373653: 33249,
 1973299: 34305,
 87197: 5841,
 128514: 43262,
 9857078: 15725,
 1340755: 31110,
 3175455: 4891,
 9737849: 14806,
 701302: 32530,
 1125972: 6770,
 169397: 28970,
 6556397: 34530,
 2473165: 40542,
 371228: 13932,
 572743: 12046,
 1193622: 18231,
 1686626: 24334,
 2102956: 14681,
 9659035: 36483,
 3033649: 44577,
 9978078: 16630,
 17803: 11345,
 2378567: 23131,
 15799217: 35263,
 480855: 47144,
 1035698: 48045,
 3483203: 17497,
 135683: 14930,
 2780480: 29972,
 297630: 43115,
 1185053: 14792,
 1042124: 14298,
 8472976: 50805,
 464250: 29400,
 86388: 31091,
 1774001: 29532,
 1304164: 4335,
 12664977: 9451,
 9190034: 2220,
 14177009: 28451,
 128662: 165,
 1736287: 3365,
 70604: 31391,
 110865: 15747,
 12752: 10908,
 2450729: 20505,
 9272947: 47999,
 3522927: 10241,
 118959: 29178,
 2135838: 6550,
 459147: 31523,
 4980986: 22475,
 48882: 17137,
 3402827: 38781,
 18636: 5077,
 971371: 38026,
 3808573: 7712,
 975129: 8815,
 518346: 41806,
 2187042: 8152,
 493122: 39050,
 1741864: 46721,
 53143: 24317,
 553707: 18769,
 133015: 20158,
 3157038: 20799,
 2807130: 30171,
 3649372: 24459,
 562769: 25495,
 1367497: 22597,
 653763: 32120,
 11952: 17622,
 683905: 17534,
 1660501: 10875,
 7802200: 32239,
 107862: 8964,
 5696: 42608,
 4955885: 16477,
 4397788: 11700,
 164901: 3865,
 2966951: 20748,
 5246885: 19463,
 171933: 26206,
 1869846: 11313,
 2266345: 27985,
 516701: 25099,
 340939: 5023,
 182275: 30980,
 1328439: 9505,
 1680261: 23421,
 3697604: 3438,
 3939318: 982,
 333057: 37404,
 2009616: 6713,
 781723: 35132,
 3343142: 24930,
 86072: 38179,
 1049677: 19855,
 82262: 47280,
 7449489: 9089,
 3195314: 22731,
 4859182: 19473,
 4231740: 347,
 5610358: 10725,
 51685: 16527,
 1853875: 38092,
 7366928: 49986,
 2145211: 2850,
 576758: 31547,
 3398554: 35504,
 2110496: 39400,
 7703564: 21614,
 1212394: 11036,
 162895: 298,
 226629: 11279,
 1901786: 1259,
 1618885: 29957,
 620448: 38474,
 6026478: 18789,
 115023: 12698,
 646634: 24886,
 2250821: 8217,
 1513770: 35180,
 1660022: 42255,
 7870777: 3126,
 5112435: 34631,
 2842136: 15956,
 4745612: 29568,
 11257715: 24780,
 1110484: 14647,
 911228: 43953,
 3551365: 14557,
 8834967: 47093,
 2161467: 34403,
 860566: 10278,
 5555: 32283,
 567864: 23196,
 2482744: 42765,
 370810: 9601,
 300242: 50493,
 6835804: 4869,
 6094107: 30270,
 49197: 4865,
 1918154: 5586,
 1506188: 20296,
 6210807: 27756,
 147141: 26353,
 3793666: 16132,
 342519: 35019,
 10944077: 33168,
 167531: 9584,
 4490686: 26141,
 10284288: 8514,
 1429658: 18877,
 2865757: 33517,
 14543462: 14483,
 3842598: 44048,
 811001: 11009,
 751641: 17570,
 121540: 23803,
 361100: 32027,
 1506904: 40623,
 87739: 14762,
 8649393: 9406,
 1229023: 46531,
 407469: 37144,
 6152: 40978,
 7689607: 23658,
 3461617: 49647,
 6843909: 2007,
 4532614: 13759,
 1017257: 27708,
 5092746: 1331,
 15160601: 37509,
 797371: 2404,
 5630061: 17150,
 2979617: 36813,
 262976: 29103,
 3350516: 22707,
 8307456: 48923,
 69749: 32615,
 7493840: 2039,
 87399: 11445,
 396476: 26665,
 1931740: 1154,
 920564: 24075,
 3815677: 30089,
 2812616: 32895,
 1092762: 36631,
 5143208: 44591,
 251859: 36860,
 6087248: 19505,
 832009: 48737,
 163177: 9290,
 2907819: 48943,
 1039920: 1623,
 2178259: 46846,
 319618: 14701,
 1849876: 47803,
 6036253: 27367,
 5328069: 4077,
 10453819: 31654,
 2563833: 18839,
 270371: 2349,
 1350324: 42673,
 2678523: 2245,
 4875040: 10834,
 1348273: 30923,
 3040627: 31747,
 614008: 33664,
 70195: 47394,
 426379: 4795,
 720161: 6771,
 7602551: 38895,
 2658173: 44731,
 2747962: 5382,
 720569: 49640,
 1543844: 732,
 3600709: 35771,
 21097: 38918,
 13900748: 42979,
 228080: 17486,
 7702120: 33485,
 5308259: 9922,
 1209283: 38234,
 2734070: 48446,
 3817004: 6940,
 125685: 42392,
 157525: 19254,
 655457: 25733,
 5364318: 11015,
 93623: 35139,
 4293020: 18611,
 2298336: 37763,
 5198140: 50303,
 2654727: 7062,
 2653729: 1595,
 7412986: 44004,
 233653: 37234,
 623133: 15273,
 8881651: 941,
 16446610: 11108,
 36897: 29898,
 158259: 4730,
 6436398: 20424,
 1102885: 5107,
 3025921: 28120,
 1331915: 45833,
 7820248: 15933,
 537176: 7240,
 1310929: 25004,
 3100312: 46282,
 1162620: 51162,
 1955871: 4395,
 1121883: 15764,
 10166393: 27664,
 1964648: 4051,
 113124: 22549,
 4773290: 28288,
 107716: 7401,
 398618: 36634,
 220672: 11391,
 923390: 17228,
 7849549: 11168,
 3652183: 8808,
 4781880: 751,
 1471175: 47724,
 4757944: 24609,
 4899025: 19304,
 841221: 5389,
 1329615: 8887,
 497364: 40310,
 2216369: 35833,
 3676373: 13196,
 2688838: 39675,
 1214520: 45643,
 566608: 27943,
 956691: 33292,
 804614: 10028,
 4640499: 44285,
 6422459: 36331,
 3164339: 12542,
 34685: 26432,
 610634: 1878,
 49713: 31834,
 9543944: 4305,
 4232755: 9413,
 779989: 18638,
 2147331: 33938,
 261581: 29306,
 68231: 39576,
 2720743: 45824,
 11993121: 28334,
 5012700: 1339,
 40347: 44277,
 459347: 1053,
 166067: 9170,
 272176: 12771,
 11758896: 33483,
 18571565: 37004,
 1521264: 5075,
 2241569: 11473,
 21105339: 12332,
 693963: 22977,
 5205393: 29414,
 46594: 32948,
 5532778: 1514,
 392880: 40304,
 163551: 19516,
 8801429: 46151,
 5362469: 9949,
 11143190: 845,
 845092: 20163,
 3191557: 41068,
 6228891: 17319,
 7216865: 34787,
 244473: 19199,
 2524814: 26823,
 36565: 10484,
 11374827: 42984,
 2299087: 21621,
 3854264: 36327,
 9545359: 27432,
 7340799: 14642,
 1142167: 11086,
 425275: 42722,
 2207924: 23911,
 255049: 9183,
 6059867: 39057,
 41665: 48156,
 15148356: 2544,
 2550754: 15095,
 1954372: 21103,
 4882392: 28803,
 72247: 42557,
 8340761: 21500,
 3319234: 15114,
 1646106: 39016,
 2478398: 37706,
 394868: 17854,
 1108032: 17108,
 7839518: 41900,
 5953610: 38121,
 719756: 10217,
 1548719: 36733,
 4126391: 36849,
 2066459: 18952,
 1121249: 28166,
 520162: 40087,
 1785883: 30024,
 2299864: 20400,
 6676199: 3848,
 11188210: 44280,
 629685: 45065,
 536: 2138,
 215679: 16097,
 1493422: 33361,
 12241185: 15413,
 2468211: 28871,
 618263: 33589,
 13479070: 16974,
 3130521: 20077,
 7610883: 20156,
 10014361: 27983,
 512225: 13246,
 1016216: 12278,
 7858023: 41690,
 70847: 22336,
 1276501: 35687,
 2396624: 35756,
 2796145: 37169,
 712995: 40321,
 7500268: 27273,
 2742660: 21891,
 2722125: 47250,
 950558: 22589,
 584440: 23976,
 3936440: 34114,
 5217986: 9193,
 1625187: 16576,
 158676: 19045,
 3080396: 26335,
 1706545: 11858,
 1095974: 4588,
 11251344: 25957,
 2274471: 47680,
 3973398: 37218,
 1242138: 50497,
 49922: 14922,
 2153543: 21720,
 9014097: 39677,
 1456931: 27633,
 3529197: 28259,
 4449640: 16403,
 4822884: 28257,
 946226: 5877,
 5510499: 49115,
 1151800: 47105,
 1817519: 36842,
 8114125: 10595,
 11180198: 29586,
 2228964: 45253,
 2219041: 18674,
 494428: 13041,
 11158393: 10645,
 2425366: 29690,
 4675426: 22798,
 9252664: 21105,
 222233: 12412,
 1039952: 2620,
 290629: 39654,
 2709093: 2200,
 685511: 29903,
 1565284: 15858,
 44523: 6606,
 600379: 49032,
 5141989: 22070,
 696792: 19467,
 1590950: 36064,
 1758051: 2511,
 2985803: 23833,
 135294: 21952,
 8552240: 47201,
 980869: 2289,
 1957265: 37230,
 506721: 49851,
 1419293: 44388,
 5023667: 14324,
 7850159: 42223,
 767272: 29129,
 5649620: 17275,
 1248365: 38613,
 6315151: 50487,
 532685: 21472,
 6866811: 16301,
 8276943: 23301,
 1364007: 16512,
 2024469: 18112,
 7852644: 3102,
 4607417: 24696,
 2789764: 18291,
 446357: 39788,
 81071: 31257,
 2172825: 970,
 9075805: 19895,
 1542319: 10554,
 1740554: 1980,
 262748: 26778,
 181315: 24637,
 950831: 48951,
 1165128: 21117,
 334755: 281,
 21232579: 43147,
 1137174: 17824,
 2069407: 2176,
 95382: 414,
 1218809: 11680,
 5919934: 34424,
 491497: 27522,
 66617: 27671,
 1575086: 849,
 1236734: 43803,
 1843468: 44178,
 8205: 37661,
 7053190: 41019,
 18765627: 30771,
 736348: 18517,
 82570: 2112,
 1608243: 11500,
 8396518: 44365,
 195594: 43977,
 3961759: 50810,
 3160089: 49830,
 2212128: 23332,
 82673: 43854,
 1064169: 22634,
 1655939: 4399,
 7098758: 48921,
 1789280: 30364,
 4905637: 2546,
 635541: 17051,
 426996: 16414,
 471614: 30730,
 105903: 5719,
 956397: 50139,
 5406012: 48252,
 1813616: 42646,
 14989217: 15324,
 1284568: 5499,
 604800: 18747,
 2626313: 2156,
 2055187: 159,
 2465608: 40373,
 327694: 5505,
 4565947: 21537,
 2782088: 49808,
 3471509: 4193,
 5018962: 38713,
 722362: 29151,
 923315: 48402,
 18675173: 43844,
 5105949: 30748,
 64174: 9900,
 436025: 33162,
 642096: 50959,
 895245: 21705,
 725418: 8717,
 20430449: 41607,
 234661: 2608,
 106658: 7833,
 4362545: 18080,
 824929: 24502,
 1341059: 20770,
 58214: 49254,
 418235: 25105,
 1994081: 6478,
 1871293: 38859,
 187730: 12871,
 1348195: 5064,
 9367153: 49158,
 1549918: 45186,
 390358: 40579,
 643085: 36037,
 4269730: 32030,
 84889: 22934,
 295249: 48096,
 952787: 11423,
 5001798: 32837,
 46255: 46711,
 1652962: 37197,
 356426: 15586,
 553308: 16570,
 1022048: 44272,
 7856: 25232,
 6172826: 23516,
 558502: 18665,
 203858: 33100,
 1843451: 16239,
 507762: 37728,
 31985: 48508,
 17218429: 20113,
 180736: 20580,
 4728340: 25471,
 76661: 50117,
 1265182: 3182,
 366817: 2924,
 713106: 48515,
 1846516: 23419,
 10584605: 8475,
 116186: 21634,
 110026: 16758,
 597065: 39137,
 5652480: 14728,
 2449857: 10463,
 625231: 26501,
 143305: 9652,
 6517394: 44643,
 14398198: 25400,
 17026934: 18646,
 2777984: 1435,
 2095459: 49424,
 356942: 20768,
 6608798: 29205,
 224508: 37940,
 5064152: 36424,
 22303: 41479,
 314862: 35810,
 3629438: 31904,
 1268154: 33964,
 402037: 7576,
 210785: 1327,
 799073: 2739,
 407254: 21606,
 449053: 47020,
 510294: 37568,
 1096794: 34846,
 4590: 51207,
 1334967: 16657,
 8203644: 40561,
 865982: 18613,
 4741278: 19296,
 758801: 13619,
 3936044: 5749,
 3040064: 24719,
 416500: 8675,
 4532131: 39834,
 555045: 11657,
 2535336: 28343,
 546686: 17384,
 151471: 14584,
 766755: 41654,
 314215: 39197,
 1281385: 38701,
 1885392: 22930,
 19570235: 23398,
 1120273: 44478,
 15603477: 31387,
 134596: 40324,
 321468: 2796,
 2119: 35286,
 1205647: 12859,
 3058609: 9735,
 2031180: 42177,
 6043170: 37739,
 411604: 26184,
 3750980: 18135,
 4511585: 26007,
 267887: 13352,
 7108457: 13095,
 19657183: 33258,
 3054653: 22278,
 77308: 40259,
 1346815: 33766,
 490326: 2068,
 5426909: 933,
 8870224: 35107,
 232371: 23084,
 55377: 35272,
 10092483: 43179,
 4631427: 50164,
 696134: 1970,
 638471: 29271,
 1388172: 678,
 3586783: 29388,
 2623720: 5342,
 1483143: 15769,
 87117: 15520,
 672135: 27512,
 ...}

this below code stores the id mapping table into a dataframe. this allows you to revert back from merged df to original synthetic and real df

In [11]:
df = pd.DataFrame(list(id_mapping.items()), columns=['OriginalUserId', 'RandomizedUserId'])
# # Initialize the 'table' column with default value
# df['table'] = ''

# # Update the 'table' column based on the source dataframe
# df.loc[df['OriginalUserId'].isin(original_df['OwnerUserId']), 'table'] = 'original_df'
# df.loc[df['OriginalUserId'].isin(synthetic_df['OwnerUserId']), 'table'] = 'synthetic_df'


df.to_csv("id_mapping.csv")

We create user-tag pairs, now checking each column for a value of 1 to indicate the presence of a tag

In [12]:
# Create user-tag tuple pairs
user_tag_dict = defaultdict(list)
for _, row in merged_df.iterrows():
    user_id = row['NewOwnerUserId']
    # Iterate through all columns except 'OwnerUserId' and 'NewOwnerUserId'
    for tag, value in row.drop(['OwnerUserId', 'NewOwnerUserId']).items():
        if value == 1 and tag in tag_to_id:  # Check if the tag is present and in our Tag Descriptions
            user_tag_dict[user_id].append(tag_to_id[tag])

The data is split into train and test sets, with users having 10 or more tags contributing to both sets.

In [13]:
# Split into train and test sets
train_pairs = []
test_pairs = []

for user_id, tag_ids in user_tag_dict.items():
    if len(tag_ids) >= 10:
        # Randomly select 5 tags for test set if user has 10 or more tags
        test_sample = np.random.choice(tag_ids, 5, replace=False)
        train_sample = [tag_id for tag_id in tag_ids if tag_id not in test_sample]
        
        for tag_id in test_sample:
            test_pairs.append((user_id, tag_id))
        for tag_id in train_sample:
            train_pairs.append((user_id, tag_id))
    else:
        # If user has less than 10 tags, all go to train set
        for tag_id in tag_ids:
            train_pairs.append((user_id, tag_id))

We create and save both pair-wise (UserID, TagID) and matrix-like representations of the data.

In [14]:
# Create dataframes from the train and test pairs
train_df = pd.DataFrame(train_pairs, columns=['UserID', 'TagID'])
test_df = pd.DataFrame(test_pairs, columns=['UserID', 'TagID'])

# Save the train and test sets to CSV files
train_df.to_csv('train_user_tag_pairs.csv', index=False)
test_df.to_csv('test_user_tag_pairs.csv', index=False)

In [15]:
train_df

        UserID  TagID
0        47918     58
1        47918    163
2        47918     72
3        47918    162
4        47918    161
...        ...    ...
412077   39885     28
412078   39885    163
412079   39885    161
412080   39885     73
412081   39885     77

[412082 rows x 2 columns]

In [16]:
test_ids = test_df.drop(columns=["TagID"])
test_ids = test_ids.drop_duplicates()
test_ids

       UserID
0        8354
5        7067
10      11977
15      50168
20      31355
...       ...
73780    6832
73785    9693
73790   38776
73795   31482
73800   10488

[14761 rows x 1 columns]

In [17]:
test_ids.to_csv("test.csv", index=False)

In [18]:
# Create and save matrix-like dataframes
# Create pivot tables for train and test sets
train_matrix_df = pd.pivot_table(train_df, values='TagID', index='UserID', 
                                 columns='TagID', aggfunc=lambda x: 1, fill_value=0)
test_matrix_df = pd.pivot_table(test_df, values='TagID', index='UserID', 
                                columns='TagID', aggfunc=lambda x: 1, fill_value=0)

In [19]:
# Ensure all TagIDs are present in both dataframes
all_tag_ids = sorted(set(train_matrix_df.columns) | set(test_matrix_df.columns))

for tag_id in all_tag_ids:
    if tag_id not in train_matrix_df.columns:
        train_matrix_df[tag_id] = 0
    if tag_id not in test_matrix_df.columns:
        test_matrix_df[tag_id] = 0

# Sort columns to ensure consistency
train_matrix_df = train_matrix_df.reindex(sorted(train_matrix_df.columns), axis=1)
test_matrix_df = test_matrix_df.reindex(sorted(test_matrix_df.columns), axis=1)

# Save matrix-like dataframes to CSV
train_matrix_df.to_csv('train_matrix.csv')
test_matrix_df.to_csv('test_matrix.csv')

In [20]:
train_matrix_df

TagID,1,2,3,4,5,6,7,8,9,10,...,222,223,224,225,226,227,228,229,230,231
UserID,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51539,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
51540,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
51541,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
51542,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51543,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Creating solution.csv

In [21]:
import pandas as pd
import numpy as np
df = pd.read_csv("/home/girikk/Concept positioning system/Challenge Dataset/FInal Dataest only real only only real/test_user_tag_pairs.csv")
df

       UserID  TagID
0        8354    164
1        8354     71
2        8354      3
3        8354     73
4        8354     58
...       ...    ...
73800   10488    164
73801   10488    136
73802   10488    161
73803   10488     69
73804   10488    169

[73805 rows x 2 columns]

In [22]:
# Add a sequential count within each user group
df['TagOrder'] = df.groupby('UserID').cumcount() + 1

# Pivot the dataframe to get each UserID with 5 TagIDs as columns
df_pivoted = df.pivot(index='UserID', columns='TagOrder', values='TagID')
df_pivoted

TagOrder    1    2    3    4    5
UserID
1         180   55  230   20   94
4         170   58   12  169    9
19         15  161  116   42   73
21         53  181  166  164  132
23        163  169  166  168   57
...       ...  ...  ...  ...  ...
51532     164  170   51  161   57
51536     170  164    9   55  169
51538      34  164   28  162   71
51539      69  163   53   28  161
51541      58  163  176  162    9

[14761 rows x 5 columns]

In [23]:
# Rename columns to Tag1, Tag2, Tag3, Tag4, Tag5
df_pivoted.columns = [f'Tag{i}' for i in range(1, 6)]

# Reset index to make UserID a column again
df_pivoted = df_pivoted.reset_index()

In [24]:
df_pivoted

       UserID  Tag1  Tag2  Tag3  Tag4  Tag5
0           1   180    55   230    20    94
1           4   170    58    12   169     9
2          19    15   161   116    42    73
3          21    53   181   166   164   132
4          23   163   169   166   168    57
...       ...   ...   ...   ...   ...   ...
14756   51532   164   170    51   161    57
14757   51536   170   164     9    55   169
14758   51538    34   164    28   162    71
14759   51539    69   163    53    28   161
14760   51541    58   163   176   162     9

[14761 rows x 6 columns]

In [25]:
# Add a Usage column
np.random.seed(0)  # For reproducibility
usage_choices = np.random.choice(['Public', 'Private'], size=len(df_pivoted), p=[0.3, 0.7])
df_pivoted['Usage'] = usage_choices

In [26]:
df_pivoted

       UserID  Tag1  Tag2  Tag3  Tag4  Tag5    Usage
0           1   180    55   230    20    94  Private
1           4   170    58    12   169     9  Private
2          19    15   161   116    42    73  Private
3          21    53   181   166   164   132  Private
4          23   163   169   166   168    57  Private
...       ...   ...   ...   ...   ...   ...      ...
14756   51532   164   170    51   161    57   Public
14757   51536   170   164     9    55   169   Public
14758   51538    34   164    28   162    71   Public
14759   51539    69   163    53    28   161   Public
14760   51541    58   163   176   162     9   Public

[14761 rows x 7 columns]

In [27]:
df_pivoted.to_csv("solutions.csv", index=False)

### Users.csv based on id_mapping

In [28]:
users_data = pd.read_csv("/home/girikk/Concept positioning system/Challenge Dataset/User Profiles.csv")
users_data

,Id,Reputation,Views,UpVotes,DownVotes,AccountAgeDays,DaysSinceLastActivity
0,1,63708,596583,3270,1108,5776,97
1,3,15767,30431,7765,91,5776,391
2,4,33554,84765,827,88,5776,48
3,5,52637,15464,759,26,5776,444
4,13,221192,46081,5135,193,5775,666
...,...,...,...,...,...,...,...
499541,228450,12977,330,276,28,5279,54
499542,228461,597,54,120,3,5279,48
499543,228489,13527,453,346,17,5279,440
499544,228508,3404,39,204,3,5279,54
499545,228514,6905,1345,251,21,5279,49

In [29]:
# Filter out rows where Id is not in the dictionary
filtered_users_data = users_data[users_data['Id'].isin(id_mapping.keys())]

# Replace Ids with shuffled Ids
filtered_users_data['Id'] = filtered_users_data['Id'].map(id_mapping)

filtered_users_data

/tmp/ipykernel_2345/3320452371.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_users_data['Id'] = filtered_users_data['Id'].map(id_mapping)

,Id,Reputation,Views,UpVotes,DownVotes,AccountAgeDays,DaysSinceLastActivity
0,25397,63708,596583,3270,1108,5776,97
2,50351,33554,84765,827,88,5776,48
3,6032,52637,15464,759,26,5776,444
4,9083,221192,46081,5135,193,5775,666
5,44432,54667,5804,847,199,5775,435
...,...,...,...,...,...,...,...
499517,21528,9126,668,1393,29,5280,57
499523,34577,1027,68,33,0,5280,3818
499524,50982,15127,716,407,88,5280,337
499534,41026,8508,1013,747,32,5280,50
499543,30419,13527,453,346,17,5279,440

In [30]:
filtered_users_data.to_csv("user_profile.csv", index=False)