## This Jupyter Notebook generates the Kaggle Challenge Dataset from Original User Tag Matrix as well the Synthetic User Tag Matrix that was generated using CT-GAN model. 

### We include both the original, as well as the synthetic dataset in the train and test sets. The reason for this is specified in the report; in brief; we observed that performance on pure synthetic data was better than performance on pure original data, on the Alternate Least Squares Model. Thus, we took the combination of these two models as the average performance is almost the average of the individual performances on these two datasets by the ALS algorithm.

In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict

We load the original and synthetic datasets from the specified paths. (modify paths accordingly)

In [2]:
# Load the datasets
original_df = pd.read_csv("/home/girikk/Concept positioning system/Challenge Dataset/Final Dataset/UTM3.csv")
# synthetic_df = pd.read_csv("/home/girikk/Concept positioning system/Challenge Dataset/Final Dataset/synthetic_data_matrix-75krows.csv")

We filter both datasets to include only rows with at least 5 tags.

In [3]:
# Filter rows with at least 5 tags
original_df = original_df[original_df.drop(columns="OwnerUserId").sum(axis=1) >= 2]
# synthetic_df = synthetic_df[synthetic_df.drop(columns="OwnerUserId").sum(axis=1) >= 5]

The Tag Descriptions are loaded

In [4]:
tag_descriptions_df = pd.read_csv('/home/girikk/Concept positioning system/Challenge Dataset/Final Dataset/Tag Descriptions.csv')
tag_to_id = dict(zip(tag_descriptions_df['TagName'], tag_descriptions_df['TagID']))

We remove duplicate users from the synthetic dataset that are already in the original dataset. (hardly 1 or 2)

In [5]:
# Remove duplicates from synthetic_df that are already in original_df
# synthetic_df = synthetic_df[~synthetic_df['OwnerUserId'].isin(original_df['OwnerUserId'])]

The datasets are merged and shuffled.

In [6]:
# Merge the datasets
# merged_df = pd.concat([original_df, synthetic_df], ignore_index=True)

# Shuffle the merged dataframe
merged_df = original_df.sample(frac=1, random_state=42).reset_index(drop=True)

New unique user IDs are created to anonymize the data.

In [7]:
# Create new unique OwnerUserIds
unique_ids = merged_df['OwnerUserId'].unique()
new_unique_ids = np.arange(1, len(unique_ids) + 1)
np.random.shuffle(new_unique_ids)
id_mapping = dict(zip(unique_ids, new_unique_ids))

# Update the OwnerUserId in the merged dataframe
merged_df['NewOwnerUserId'] = merged_df['OwnerUserId'].map(id_mapping)

In [9]:
merged_df

,OwnerUserId,recursion,hashtable,hashmap,boolean-polynomials,digraphs,probing,stack-allocation,heap-size,cyclic-graph,...,simplex,hamiltonian-path,array-comparison,space-complexity,traveling-salesman,boolean-logic,heuristics,bitstring,tree,NewOwnerUserId
0,385868,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,203352
1,3659670,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,92495
2,5364174,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,105276
3,1228394,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,203979
4,3655486,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,40719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220236,3447474,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5189
220237,2648022,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,84890
220238,4151721,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,89732
220239,5114081,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,200484
220240,3566194,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,45673

In [8]:
filtered_df = merged_df[merged_df.NewOwnerUserId == 103820]
filtered_df.columns[(filtered_df == 1).any()].tolist()

['recursion',
 'singly-linked-list',
 'string',
 'linked-list',
 'algorithm',
 'arrays']

In [10]:
id_mapping

{385868: 203352,
 3659670: 92495,
 5364174: 105276,
 1228394: 203979,
 3655486: 40719,
 1872349: 87547,
 9432559: 20280,
 67923: 108151,
 6935834: 214900,
 4434393: 206014,
 284795: 12749,
 4343502: 65710,
 4192431: 66557,
 15753863: 208953,
 5481661: 161716,
 5733647: 3169,
 7491302: 113983,
 3337089: 159494,
 1247678: 37962,
 5174237: 59082,
 2430556: 10777,
 2861283: 11966,
 10064643: 138258,
 829755: 123438,
 6164925: 98684,
 99071: 215368,
 8922915: 201658,
 8346930: 44291,
 1567953: 168680,
 6125875: 52117,
 2025028: 1644,
 525656: 145966,
 636115: 102373,
 20091109: 181705,
 516724: 105966,
 19209226: 127737,
 1768033: 91223,
 148632: 210337,
 4657681: 178470,
 4950189: 154538,
 3248736: 59363,
 14019: 10337,
 8621: 152456,
 6368005: 19780,
 8754471: 102824,
 2038912: 128784,
 227615: 21662,
 1615483: 189678,
 3576872: 111061,
 176841: 142500,
 16202580: 155809,
 5406585: 169862,
 179991: 162486,
 9152580: 205699,
 10205085: 127856,
 660833: 187347,
 10530569: 152265,
 915951: 56004,
 6500082: 149768,
 5769774: 126886,
 7998591: 93494,
 5192744: 216766,
 14793476: 16554,
 2011448: 63603,
 408738: 185828,
 15085287: 6582,
 15319747: 55682,
 1448983: 76602,
 1619693: 186102,
 4781946: 54504,
 4461931: 53512,
 562359: 116321,
 1434861: 172695,
 22381: 103937,
 1463922: 199544,
 5065318: 208661,
 9086466: 151148,
 3277064: 60589,
 1107372: 104573,
 7757526: 101404,
 2352671: 54200,
 15353268: 35742,
 8528141: 213519,
 5407829: 169123,
 4179465: 115681,
 5532457: 87061,
 3854385: 177673,
 12018521: 59997,
 131266: 172408,
 17985133: 152020,
 7087491: 183721,
 3482000: 15735,
 10251345: 42844,
 2806632: 9448,
 2102042: 165356,
 496351: 8426,
 9846205: 93525,
 234720: 34447,
 188784: 93886,
 2316645: 212106,
 1068142: 90365,
 6886515: 46683,
 10139949: 105420,
 96372: 117730,
 4499942: 160843,
 5523066: 180489,
 1430529: 41271,
 6803974: 10486,
 3443053: 12570,
 3871797: 68331,
 612189: 208069,
 15074199: 189448,
 20004462: 74963,
 7401327: 142563,
 1463435: 121831,
 1260329: 8137,
 4022475: 98356,
 11063479: 205861,
 480061: 35309,
 8316499: 206377,
 2992124: 107132,
 268789: 53423,
 6458334: 187490,
 2530848: 38519,
 341260: 169111,
 9350720: 55145,
 4453256: 57299,
 1102014: 22998,
 5082299: 95075,
 9642804: 176761,
 2826885: 145990,
 445273: 214281,
 9948731: 148464,
 1717840: 130891,
 5827215: 191996,
 1475846: 18116,
 14816192: 75446,
 655855: 88334,
 4780877: 31938,
 223367: 111585,
 1125868: 167984,
 4151472: 62082,
 1590234: 16773,
 1512445: 142532,
 266795: 194380,
 85812: 16171,
 18192: 67118,
 664157: 215635,
 315049: 104579,
 8944059: 133087,
 9887427: 144514,
 2657424: 62228,
 401996: 7783,
 8891889: 148251,
 6485445: 207336,
 1213473: 181292,
 31486: 129341,
 791553: 112295,
 469638: 153595,
 2090926: 19803,
 2764414: 32325,
 578746: 152581,
 282155: 169833,
 3554302: 173277,
 302765: 70487,
 1886323: 162836,
 204682: 55877,
 4967435: 66043,
 12216779: 98152,
 755692: 94463,
 2675799: 109845,
 7903414: 62015,
 552038: 90610,
 3560472: 100261,
 2548990: 3758,
 1306720: 143166,
 1027644: 153409,
 1396977: 220047,
 726783: 209761,
 6770384: 167469,
 991275: 106073,
 1596418: 67024,
 1311027: 215831,
 6103671: 157544,
 598683: 91886,
 41596: 53815,
 14971719: 205395,
 2184000: 28418,
 4603503: 131560,
 216558: 190841,
 341106: 100402,
 1047930: 71943,
 1285979: 62144,
 11785251: 84915,
 7114960: 124501,
 3187556: 77150,
 8666093: 51455,
 8844970: 102723,
 243134: 40703,
 11884052: 63482,
 1124344: 11286,
 2682613: 109634,
 5260008: 140679,
 3343: 84210,
 4577762: 97013,
 4797029: 199121,
 396619: 151862,
 1063662: 34088,
 15999406: 194468,
 73103: 151001,
 1939376: 33001,
 16326791: 86843,
 6609084: 141214,
 3081659: 108279,
 1249477: 155566,
 1280732: 219869,
 31640: 68018,
 843621: 100972,
 4411598: 110533,
 2029737: 187969,
 1047746: 157570,
 891976: 55513,
 3298354: 48805,
 15165: 111507,
 781312: 193127,
 1528942: 66917,
 11296324: 169130,
 1150448: 52742,
 4296151: 112439,
 1832566: 136989,
 8093903: 173587,
 1973578: 5691,
 3761815: 101927,
 12179440: 190610,
 575047: 207738,
 9124856: 96022,
 317747: 114346,
 10051185: 174698,
 950912: 187872,
 859742: 139864,
 2961244: 112430,
 7221283: 2572,
 3171456: 83274,
 2261259: 215818,
 12641197: 20037,
 2775350: 138817,
 510515: 108072,
 7171574: 2393,
 770886: 217422,
 505206: 64621,
 10456275: 36455,
 13517701: 198685,
 14274538: 185857,
 6496602: 60800,
 406464: 74342,
 2445184: 172879,
 7597618: 18156,
 3415984: 18852,
 2959757: 196963,
 17726473: 61680,
 1549417: 179664,
 1100898: 170203,
 14967681: 128446,
 3398583: 41290,
 5073270: 1954,
 4103995: 216187,
 11205391: 117444,
 9007468: 209994,
 4029284: 214717,
 409772: 177424,
 2688970: 152654,
 2838401: 3144,
 3638113: 200466,
 239599: 4110,
 3754372: 64667,
 1152061: 192466,
 5100634: 155653,
 6727777: 125026,
 891440: 189033,
 8372283: 5556,
 3348913: 60262,
 4895687: 33971,
 28445: 179060,
 5780021: 204431,
 105539: 37000,
 188711: 176873,
 1691995: 175462,
 2863162: 138063,
 3503565: 200904,
 411775: 16012,
 1899979: 219386,
 6470855: 15903,
 8474894: 94669,
 4103854: 16175,
 1470897: 176651,
 2043436: 168774,
 3208964: 25575,
 8822457: 78229,
 5883: 111517,
 3997541: 61045,
 8579556: 214861,
 5562931: 189388,
 2339071: 23027,
 5109911: 137771,
 898045: 131677,
 10773206: 207583,
 2471835: 194127,
 6526446: 179005,
 15280982: 32126,
 1617212: 166179,
 3629332: 72372,
 5125537: 26148,
 4408512: 64369,
 1087718: 81958,
 286062: 162498,
 17242950: 84088,
 188414: 18414,
 12182358: 103012,
 19634114: 198538,
 6402192: 161413,
 5682608: 171850,
 4338565: 42244,
 14995220: 164161,
 12471585: 103990,
 16757952: 31126,
 2542856: 171450,
 981183: 36904,
 469680: 207157,
 599989: 7360,
 4478274: 104857,
 14761838: 159956,
 7864411: 31567,
 11670058: 184421,
 8220: 117837,
 5274: 106133,
 4940481: 66658,
 14031662: 79223,
 3712863: 100008,
 327011: 84443,
 1237021: 206279,
 64574: 77241,
 6172486: 110851,
 8957186: 31408,
 13111190: 212310,
 11420984: 49143,
 1126124: 200970,
 317577: 149599,
 5558364: 35351,
 8971873: 14603,
 5631647: 193592,
 6448754: 96693,
 3239842: 204030,
 6489381: 53317,
 5437408: 208511,
 6485674: 87392,
 8301453: 218397,
 3955148: 44963,
 226255: 127936,
 6830635: 82526,
 3474387: 146418,
 819843: 159310,
 2551203: 31576,
 276166: 208576,
 1535252: 23666,
 2138959: 114773,
 12268: 118937,
 1812249: 151967,
 1948881: 87632,
 3068285: 171015,
 11604722: 117026,
 5908572: 186706,
 79202: 76316,
 2302352: 141530,
 1967095: 159019,
 501326: 132301,
 6553328: 194405,
 8031896: 80672,
 9510813: 155751,
 6036772: 86946,
 2064527: 14991,
 3349753: 88447,
 3123612: 90445,
 2058537: 181985,
 235914: 176656,
 1564311: 17263,
 9405863: 51245,
 1782153: 200655,
 5143000: 59317,
 6822040: 92099,
 1270003: 130765,
 459485: 6717,
 689579: 217561,
 1369093: 105349,
 254307: 28082,
 2136640: 157924,
 4937064: 78072,
 3057587: 78288,
 13824: 140070,
 473587: 45397,
 4218941: 44418,
 4478047: 175665,
 9158075: 40003,
 189418: 208384,
 1865916: 184430,
 1045902: 104419,
 120653: 217592,
 20468293: 23755,
 1713345: 206307,
 16730940: 155834,
 4691200: 125385,
 12670280: 193751,
 7426717: 187140,
 2893691: 195514,
 1276128: 159423,
 1681580: 96503,
 7531670: 106807,
 1677285: 129239,
 4606787: 112117,
 11205887: 203509,
 1046021: 144529,
 356061: 44409,
 229326: 138813,
 7792961: 164498,
 206695: 136755,
 6462837: 87676,
 5615965: 211991,
 4149820: 86194,
 2915164: 21450,
 77087: 182894,
 10339518: 48153,
 1153777: 165725,
 3342050: 127274,
 76664: 10747,
 6697083: 145024,
 11578146: 51921,
 1306353: 210194,
 333777: 184882,
 29639: 79312,
 1578898: 7836,
 1324284: 129295,
 1127041: 159624,
 5821061: 119688,
 790304: 151646,
 1672053: 211279,
 2384464: 75137,
 1489378: 183695,
 2488240: 19015,
 129732: 120770,
 6605393: 109274,
 9251769: 50109,
 396318: 87924,
 13197548: 6484,
 6330749: 53779,
 844005: 31235,
 294661: 202049,
 4145798: 89563,
 282398: 20497,
 11360035: 199791,
 17097: 124460,
 20898396: 164872,
 1760479: 17146,
 1021293: 193701,
 3402887: 126742,
 12139033: 169805,
 3401018: 148611,
 1879783: 188709,
 1372751: 39036,
 272774: 78649,
 330826: 35739,
 4640346: 23193,
 8433471: 35947,
 918102: 184697,
 266252: 182946,
 1387338: 9802,
 2525454: 49741,
 1237603: 102857,
 1714987: 128006,
 11850564: 111202,
 2661491: 72252,
 230779: 101795,
 8150484: 69080,
 1569689: 80340,
 3801865: 191203,
 10018801: 113097,
 15589522: 55080,
 3764280: 153442,
 3322864: 51801,
 394527: 144544,
 4334680: 167680,
 3897814: 145863,
 2630686: 196576,
 1330949: 123388,
 501196: 45439,
 6913202: 207419,
 912822: 45284,
 13240105: 88245,
 4427557: 94361,
 10132227: 78989,
 19583: 2428,
 11824236: 161611,
 809568: 88645,
 5184094: 72401,
 3746427: 32681,
 3629772: 109955,
 4086: 110842,
 2717256: 51037,
 706933: 58201,
 14817835: 124958,
 1556338: 162081,
 7795225: 46717,
 2681077: 186631,
 1019635: 208926,
 608220: 55550,
 16490911: 78081,
 2251797: 8640,
 651394: 42710,
 2780770: 16780,
 14383574: 198490,
 1724912: 218416,
 8212173: 133657,
 1124913: 76230,
 2700140: 182715,
 10886283: 101980,
 4332075: 154428,
 1115749: 73633,
 2155068: 177204,
 1150599: 72134,
 4280848: 21342,
 579148: 48393,
 2521798: 186219,
 201533: 187939,
 3178185: 32146,
 470341: 84628,
 454191: 25683,
 355722: 141551,
 5756014: 63346,
 2194491: 68501,
 5889825: 28197,
 3188270: 69076,
 8561462: 155148,
 5243: 151919,
 1624774: 202684,
 9739282: 107852,
 424401: 33554,
 7582481: 37829,
 4610020: 47298,
 4762308: 31388,
 2417756: 113230,
 646781: 88084,
 7241191: 6618,
 2999345: 150816,
 4889035: 217443,
 17308: 10901,
 362372: 94240,
 5862380: 9522,
 6654077: 47055,
 6904745: 102263,
 9073420: 142486,
 258244: 146144,
 1861292: 185788,
 2943808: 167909,
 5457643: 102812,
 3927703: 152473,
 1936622: 26989,
 16475: 40027,
 1828879: 50057,
 1996623: 5599,
 1250948: 79846,
 13674758: 116295,
 7977138: 107495,
 16715608: 72649,
 793328: 163383,
 13055768: 77946,
 4549583: 184728,
 1475848: 122215,
 360494: 150307,
 3238611: 154106,
 4824195: 35298,
 9511855: 49639,
 10620003: 197934,
 3274353: 47491,
 3317284: 173425,
 3426265: 125928,
 4287672: 79219,
 1233319: 8148,
 16757869: 183944,
 1451447: 25760,
 6046199: 125389,
 160868: 167298,
 69585: 212471,
 9640384: 27726,
 2893024: 5457,
 1337770: 136118,
 3508720: 106118,
 599184: 73012,
 879359: 144280,
 3543696: 158524,
 1306484: 183942,
 164835: 149001,
 889852: 201603,
 3350988: 182777,
 7343513: 128895,
 5399309: 81608,
 6548501: 105139,
 13877993: 101721,
 531479: 81135,
 2080464: 157432,
 287020: 4076,
 34596: 77196,
 320926: 133139,
 17583972: 117290,
 2622206: 124928,
 4638482: 209547,
 3086793: 82333,
 9853037: 29660,
 10841852: 217114,
 1309735: 39453,
 342669: 125956,
 5496808: 133785,
 1138165: 96609,
 79797: 97147,
 1004708: 135021,
 7183948: 61860,
 2528160: 183206,
 2932590: 216541,
 11772035: 30239,
 14247462: 17464,
 12460298: 64901,
 10227261: 84501,
 5570519: 216089,
 388573: 198274,
 5074334: 199882,
 4718136: 55527,
 742420: 116627,
 6028443: 52878,
 9392756: 146057,
 10643571: 166332,
 6618289: 159087,
 3611133: 1861,
 9573338: 62854,
 1348706: 190447,
 64045: 140537,
 8133920: 139837,
 1196339: 20910,
 11057542: 27962,
 1690765: 63179,
 74861: 198519,
 11739330: 74755,
 19740834: 65295,
 2353990: 155240,
 2814877: 69120,
 520957: 205924,
 197220: 115136,
 19199423: 139186,
 260516: 6436,
 336182: 51008,
 4779492: 171520,
 643091: 43518,
 6449040: 2447,
 18565145: 35791,
 2652368: 36011,
 527206: 127347,
 13969844: 130371,
 1202462: 181416,
 4505279: 41699,
 7165132: 157538,
 1468628: 52490,
 11608064: 141053,
 3478217: 151243,
 1930331: 172970,
 2453324: 34775,
 4593654: 172940,
 10199463: 139593,
 1390964: 159819,
 11726149: 19490,
 2137314: 195883,
 13563: 216545,
 12330426: 209203,
 10567711: 81057,
 633970: 218537,
 7849742: 56316,
 1768620: 181290,
 5207044: 146316,
 801751: 102769,
 33690: 172448,
 6660112: 57235,
 11092: 199248,
 7904665: 24496,
 7091316: 34033,
 586621: 15539,
 4561332: 135395,
 2068776: 60038,
 6183182: 201506,
 18244576: 25823,
 8781351: 105354,
 1529734: 139581,
 5111088: 167270,
 7712901: 89704,
 14914517: 63473,
 7067091: 171288,
 3756181: 199206,
 6330677: 218993,
 2912349: 91564,
 1624283: 213444,
 6545554: 176521,
 5203926: 185872,
 6883591: 169759,
 903146: 150919,
 6120677: 213265,
 1406409: 184626,
 380533: 125193,
 2925434: 179422,
 1200170: 78522,
 4660: 10006,
 3590067: 72936,
 129195: 61278,
 5315126: 68540,
 772295: 65788,
 3157223: 119295,
 2562182: 137625,
 135363: 212091,
 17437705: 217072,
 2816475: 67968,
 9829780: 124267,
 4752496: 64278,
 5094439: 129975,
 7024766: 50277,
 3043275: 30839,
 3349591: 60888,
 11621951: 101852,
 4212470: 37226,
 1685917: 5762,
 1197359: 187521,
 2304242: 123668,
 3988607: 128220,
 4818089: 140281,
 7175117: 196476,
 2576485: 19999,
 4865019: 122315,
 2917564: 34012,
 5153946: 134295,
 7160817: 33659,
 11850259: 149395,
 991805: 50589,
 672370: 118216,
 6433166: 45351,
 67373: 78697,
 311624: 166494,
 8291931: 177664,
 8233079: 129526,
 8236647: 33323,
 2809350: 183608,
 1758762: 60828,
 1148055: 1307,
 1334967: 130257,
 4242432: 194030,
 3580786: 29652,
 3704707: 31607,
 1619031: 16718,
 875480: 93031,
 2693920: 181433,
 2736742: 156037,
 131140: 80699,
 266104: 87963,
 8008396: 45951,
 5115097: 17802,
 1365836: 57349,
 4696047: 100836,
 4598520: 127289,
 1038336: 114668,
 1607892: 70948,
 8148194: 7044,
 137317: 14631,
 58565: 38127,
 5717559: 184242,
 5378918: 39121,
 20533779: 14598,
 8748308: 187831,
 3230218: 20255,
 1463552: 48713,
 2964746: 200636,
 2079103: 138796,
 3558355: 211481,
 488441: 57724,
 5832403: 197073,
 2334874: 102174,
 7895486: 134940,
 6399518: 24966,
 721466: 8805,
 2151652: 99354,
 2033703: 178747,
 2884046: 77151,
 3047703: 97243,
 62830: 12791,
 989256: 82048,
 1877862: 63105,
 312329: 2278,
 1454678: 153713,
 247247: 200141,
 618331: 22680,
 539251: 182309,
 5699882: 53832,
 2846711: 130742,
 914405: 38558,
 2091521: 25668,
 377398: 29363,
 10678577: 193850,
 12000849: 80422,
 11043336: 184929,
 402551: 36313,
 495451: 71367,
 1978251: 218459,
 516167: 49673,
 512461: 97621,
 2127277: 174147,
 6039995: 56821,
 5507154: 56069,
 6490359: 58050,
 722238: 162478,
 6543693: 144153,
 7108589: 23693,
 3671343: 42479,
 2620046: 36587,
 1156452: 28630,
 15983516: 149110,
 5635258: 204422,
 7629737: 11638,
 253698: 112009,
 723843: 76078,
 2197667: 29954,
 1935737: 130506,
 6176145: 107162,
 5077134: 201112,
 15790364: 4973,
 2963863: 193327,
 1355344: 89842,
 5344433: 188905,
 1910265: 47662,
 97540: 181305,
 6372006: 119065,
 7980197: 14957,
 584: 105817,
 2790668: 71426,
 10836630: 213671,
 6340509: 173914,
 13673778: 141341,
 6218845: 110273,
 14324456: 217180,
 3244542: 123808,
 17026900: 209197,
 1666926: 44812,
 6453977: 9498,
 7615694: 30243,
 483255: 56836,
 75126: 96301,
 9208887: 104127,
 3318273: 130883,
 2766550: 62162,
 2758221: 110300,
 4238869: 128443,
 6401987: 196017,
 2534600: 61874,
 4274143: 145336,
 6330096: 13100,
 12297688: 137884,
 8146571: 143092,
 16751401: 19783,
 4635876: 164087,
 1921135: 4562,
 8568784: 97972,
 2730735: 19616,
 1683478: 35074,
 22193627: 188234,
 1585439: 82302,
 9014097: 16536,
 236499: 92004,
 203925: 138827,
 7142682: 79750,
 1908375: 85617,
 12573909: 7702,
 429221: 47833,
 2472066: 135146,
 2105039: 34805,
 472792: 213371,
 7341904: 179388,
 734298: 17317,
 3494522: 34041,
 3933596: 182604,
 1167221: 26370,
 1054151: 89565,
 1831518: 8901,
 761513: 13753,
 15591112: 139286,
 6616064: 177994,
 4762893: 9179,
 3666130: 210208,
 5852964: 35787,
 1877243: 50315,
 1811043: 170488,
 4156244: 108801,
 8281970: 210214,
 106688: 78889,
 4093658: 90423,
 10852396: 126150,
 176478: 60388,
 81937: 183314,
 5802357: 105291,
 1854557: 191809,
 2884028: 123157,
 734570: 189685,
 205895: 121095,
 14553195: 44862,
 119509: 202909,
 272427: 91601,
 3841420: 180411,
 582405: 130916,
 4470895: 90941,
 2969673: 17181,
 491308: 72869,
 1692539: 213054,
 964314: 22134,
 6288205: 117922,
 1585960: 53194,
 19259363: 175212,
 462734: 101182,
 72: 206211,
 88198: 97973,
 17836238: 140863,
 20671531: 103712,
 3515042: 58086,
 124090: 151855,
 5999339: 20128,
 8740801: 28306,
 5449410: 205335,
 895789: 597,
 1051028: 104257,
 527532: 213617,
 3072095: 133890,
 3775391: 159400,
 2031352: 52154,
 4616851: 204046,
 5792461: 34115,
 197221: 114070,
 11683948: 145572,
 468457: 123507,
 2482119: 22385,
 4502320: 205148,
 4062198: 184648,
 3158810: 54271,
 9761451: 68861,
 1274978: 202614,
 5544668: 170035,
 1827660: 179222,
 1531473: 120171,
 642070: 149943,
 3633199: 107380,
 8516044: 64823,
 1178448: 95612,
 4493060: 110283,
 4137061: 187812,
 14997346: 15621,
 517832: 211296,
 2946760: 29616,
 1530536: 163564,
 12023921: 7174,
 5418918: 187119,
 13418705: 167859,
 479654: 153682,
 15388412: 8178,
 746347: 96886,
 1032917: 178496,
 7059557: 61791,
 1478372: 170951,
 11965297: 153810,
 1056878: 155007,
 7398298: 43972,
 6876820: 58408,
 2733597: 141606,
 277290: 1486,
 300797: 123648,
 51362: 145042,
 124536: 70935,
 2963221: 206956,
 5328150: 200836,
 7147233: 214678,
 320002: 83501,
 7562670: 64212,
 5090081: 402,
 605669: 130208,
 14263933: 174049,
 2490057: 187878,
 260528: 149467,
 53326: 17835,
 5985853: 2344,
 336802: 134184,
 710131: 56834,
 1926540: 60552,
 8485403: 178887,
 3061852: 181680,
 8772744: 219131,
 ...}

this below code stores the id mapping table into a dataframe. this allows you to revert back from merged df to original synthetic and real df

In [11]:
df = pd.DataFrame(list(id_mapping.items()), columns=['OriginalUserId', 'RandomizedUserId'])
# # Initialize the 'table' column with default value
# df['table'] = ''

# # Update the 'table' column based on the source dataframe
# df.loc[df['OriginalUserId'].isin(original_df['OwnerUserId']), 'table'] = 'original_df'
# df.loc[df['OriginalUserId'].isin(synthetic_df['OwnerUserId']), 'table'] = 'synthetic_df'


df.to_csv("id_mapping.csv")

We create user-tag pairs, now checking each column for a value of 1 to indicate the presence of a tag

In [12]:
# Create user-tag tuple pairs
user_tag_dict = defaultdict(list)
for _, row in merged_df.iterrows():
    user_id = row['NewOwnerUserId']
    # Iterate through all columns except 'OwnerUserId' and 'NewOwnerUserId'
    for tag, value in row.drop(['OwnerUserId', 'NewOwnerUserId']).items():
        if value == 1 and tag in tag_to_id:  # Check if the tag is present and in our Tag Descriptions
            user_tag_dict[user_id].append(tag_to_id[tag])

The data is split into train and test sets, with users having 10 or more tags contributing to both sets.

In [14]:
# Split into train and test sets
train_pairs = []
test_pairs = []

for user_id, tag_ids in user_tag_dict.items():
    if len(tag_ids) >= 10:
        # Randomly select 5 tags for test set if user has 10 or more tags
        test_sample = np.random.choice(tag_ids, 5, replace=False)
        train_sample = [tag_id for tag_id in tag_ids if tag_id not in test_sample]
        
        for tag_id in test_sample:
            test_pairs.append((user_id, tag_id))
        for tag_id in train_sample:
            train_pairs.append((user_id, tag_id))
    else:
        # If user has less than 10 tags, all go to train set
        for tag_id in tag_ids:
            train_pairs.append((user_id, tag_id))

We create and save both pair-wise (UserID, TagID) and matrix-like representations of the data.

In [15]:
# Create dataframes from the train and test pairs
train_df = pd.DataFrame(train_pairs, columns=['UserID', 'TagID'])
test_df = pd.DataFrame(test_pairs, columns=['UserID', 'TagID'])

# Save the train and test sets to CSV files
train_df.to_csv('train_user_tag_pairs.csv', index=False)
test_df.to_csv('test_user_tag_pairs.csv', index=False)

In [16]:
train_df

        UserID  TagID
0       203352    163
1       203352     72
2       203352    164
3       203352    162
4       203352    161
...        ...    ...
841427  200484      9
841428  200484    161
841429  200484     73
841430   45673    170
841431   45673    161

[841432 rows x 2 columns]

In [37]:
test_ids = test_df.drop(columns=["TagID"])
test_ids = test_ids.drop_duplicates()
test_ids

       UserID
0       92495
5       12749
10     113983
15      11966
20     168680
...       ...
73780   64787
73785  149683
73790  120329
73795  158917
73800  164102

[14761 rows x 1 columns]

In [39]:
test_ids.to_csv("test.csv", index=False)

In [17]:
# Create and save matrix-like dataframes
# Create pivot tables for train and test sets
train_matrix_df = pd.pivot_table(train_df, values='TagID', index='UserID', 
                                 columns='TagID', aggfunc=lambda x: 1, fill_value=0)
test_matrix_df = pd.pivot_table(test_df, values='TagID', index='UserID', 
                                columns='TagID', aggfunc=lambda x: 1, fill_value=0)

In [18]:
# Ensure all TagIDs are present in both dataframes
all_tag_ids = sorted(set(train_matrix_df.columns) | set(test_matrix_df.columns))

for tag_id in all_tag_ids:
    if tag_id not in train_matrix_df.columns:
        train_matrix_df[tag_id] = 0
    if tag_id not in test_matrix_df.columns:
        test_matrix_df[tag_id] = 0

# Sort columns to ensure consistency
train_matrix_df = train_matrix_df.reindex(sorted(train_matrix_df.columns), axis=1)
test_matrix_df = test_matrix_df.reindex(sorted(test_matrix_df.columns), axis=1)

# Save matrix-like dataframes to CSV
train_matrix_df.to_csv('train_matrix.csv')
test_matrix_df.to_csv('test_matrix.csv')

In [19]:
train_matrix_df

TagID,1,2,3,4,5,6,7,8,9,10,...,222,223,224,225,226,227,228,229,230,231
UserID,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220237,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
220238,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
220239,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
220240,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
220241,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Creating solution.csv

In [20]:
import pandas as pd
import numpy as np
df = pd.read_csv("/home/girikk/Concept positioning system/Challenge Dataset/FInal Dataest only real only only real/test_user_tag_pairs.csv")
df

       UserID  TagID
0       92495    161
1       92495      9
2       92495    162
3       92495     58
4       92495    163
...       ...    ...
73800  164102    185
73801  164102    167
73802  164102     72
73803  164102     52
73804  164102     28

[73805 rows x 2 columns]

In [21]:
# Add a sequential count within each user group
df['TagOrder'] = df.groupby('UserID').cumcount() + 1

# Pivot the dataframe to get each UserID with 5 TagIDs as columns
df_pivoted = df.pivot(index='UserID', columns='TagOrder', values='TagID')
df_pivoted

TagOrder    1    2    3    4    5
UserID
31        163   72  171  187   73
33        161   56  162   73   12
40         52  167  189   66  164
49         52  161   74   55   44
54        167  181   77   64  162
...       ...  ...  ...  ...  ...
220200     57   82   55   53   72
220202     52   73   74   58  162
220224    167   73  181  162  164
220227     73  164  169  181  167
220233    164  163   12  169  167

[14761 rows x 5 columns]

In [22]:
# Rename columns to Tag1, Tag2, Tag3, Tag4, Tag5
df_pivoted.columns = [f'Tag{i}' for i in range(1, 6)]

# Reset index to make UserID a column again
df_pivoted = df_pivoted.reset_index()

In [23]:
df_pivoted

       UserID  Tag1  Tag2  Tag3  Tag4  Tag5
0          31   163    72   171   187    73
1          33   161    56   162    73    12
2          40    52   167   189    66   164
3          49    52   161    74    55    44
4          54   167   181    77    64   162
...       ...   ...   ...   ...   ...   ...
14756  220200    57    82    55    53    72
14757  220202    52    73    74    58   162
14758  220224   167    73   181   162   164
14759  220227    73   164   169   181   167
14760  220233   164   163    12   169   167

[14761 rows x 6 columns]

In [24]:
# Add a Usage column
np.random.seed(0)  # For reproducibility
usage_choices = np.random.choice(['Public', 'Private'], size=len(df_pivoted), p=[0.3, 0.7])
df_pivoted['Usage'] = usage_choices

In [25]:
df_pivoted

       UserID  Tag1  Tag2  Tag3  Tag4  Tag5    Usage
0          31   163    72   171   187    73  Private
1          33   161    56   162    73    12  Private
2          40    52   167   189    66   164  Private
3          49    52   161    74    55    44  Private
4          54   167   181    77    64   162  Private
...       ...   ...   ...   ...   ...   ...      ...
14756  220200    57    82    55    53    72   Public
14757  220202    52    73    74    58   162   Public
14758  220224   167    73   181   162   164   Public
14759  220227    73   164   169   181   167   Public
14760  220233   164   163    12   169   167   Public

[14761 rows x 7 columns]

In [31]:
df_pivoted.to_csv("solutions.csv", index=False)

### Users.csv based on id_mapping

In [26]:
users_data = pd.read_csv("/home/girikk/Concept positioning system/Challenge Dataset/User Profiles.csv")
users_data

,Id,Reputation,Views,UpVotes,DownVotes,AccountAgeDays,DaysSinceLastActivity
0,1,63708,596583,3270,1108,5776,97
1,3,15767,30431,7765,91,5776,391
2,4,33554,84765,827,88,5776,48
3,5,52637,15464,759,26,5776,444
4,13,221192,46081,5135,193,5775,666
...,...,...,...,...,...,...,...
499541,228450,12977,330,276,28,5279,54
499542,228461,597,54,120,3,5279,48
499543,228489,13527,453,346,17,5279,440
499544,228508,3404,39,204,3,5279,54
499545,228514,6905,1345,251,21,5279,49

In [28]:
# Filter out rows where Id is not in the dictionary
filtered_users_data = users_data[users_data['Id'].isin(id_mapping.keys())]

# Replace Ids with shuffled Ids
filtered_users_data['Id'] = filtered_users_data['Id'].map(id_mapping)

filtered_users_data

/tmp/ipykernel_2308/3320452371.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_users_data['Id'] = filtered_users_data['Id'].map(id_mapping)

,Id,Reputation,Views,UpVotes,DownVotes,AccountAgeDays,DaysSinceLastActivity
0,150442,63708,596583,3270,1108,5776,97
2,34780,33554,84765,827,88,5776,48
3,197776,52637,15464,759,26,5776,444
4,116224,221192,46081,5135,193,5775,666
5,73310,54667,5804,847,199,5775,435
...,...,...,...,...,...,...,...
499533,66574,14394,911,1615,36,5280,49
499534,19763,8508,1013,747,32,5280,50
499537,195270,3201,224,15,2,5280,2012
499540,95634,379,34,7,3,5279,2866
499543,57185,13527,453,346,17,5279,440

In [30]:
filtered_users_data.to_csv("user_profile.csv", index=False)